DB_HOST=localhost
DB_USER=watchuwanime
DB_PASSWORD=watchuwanime
DB_NAME=watchuwanime_test
DB_PORT=5432

API_KEY=express-server-api-key-example

FRONTEND_URLS=http://localhost:5173,http://localhost:3000,http://localhost:3001