ENV=production

API_PORT=3000
API_HOST=localhost
API_KEY=express-server-api-key-example

DATABASE_URL=postgresql://postgres:[password]@[host]:5432/postgres

DOTENV_PATH=.env

FRONTEND_URLS=http://localhost:5173,http://localhost:3000,http://localhost:3001

AI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
AI_API_KEY=your-ai-api-key
AI_CHAT_MODEL=gemini-3.5-flash-lite

SUPABASE_PROJECT_URL=https://your-prod-project.supabase.co
SUPABASE_API_KEY=your-prod-supabase-api-key
