ENV=production

API_PORT=3000
API_HOST=localhost
API_KEY=express-server-api-key-example

SUPABASE_URL=https://your-supabase-proj-url.supabase.co
SUPABASE_API_KEY=your-supabase-proj-anon-api-key

DOTENV_PATH=.env

AI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
AI_API_KEY=your-ai-api-key
AI_CHAT_MODEL=gemini-3.5-flash-lite

FRONTEND_URLS=http://localhost:5173,http://localhost:3000,http://localhost:3001