@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --card: #ffffff;

    --primary: #e53528;
    --primary-foreground: #ffffff;

    --muted: #e2e2e2;
    --muted-foreground: #555555;

    --accent: #e53528;
    --border: #d0d0d0;

    --text: #555555;
    --text-h: #08060d;

    --bg: #ffffff;
    --code-bg: #e2e2e2;

    --accent-bg: rgba(229, 53, 40, 0.1);
    --accent-border: rgba(229, 53, 40, 0.5);
    --social-bg: rgba(226, 226, 226, 0.5);

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: 'Barlow', 'Helvetica Neue', Helvetica, Arial, system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: 'JetBrains Mono', 'Courier New', ui-monospace, Consolas, monospace;

    letter-spacing: 0.18px;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light;
    color: var(--text);
    background: var(--bg);
}

.dark {
    --card: #1c1c1c;

    --primary: #e53528;
    --primary-foreground: #ffffff;

    --muted: #2a2a2a;
    --muted-foreground: #b5b5b5;

    --accent: #e53528;
    --border: #3a3a3a;

    --text: #b5b5b5;
    --text-h: #f5f5f5;

    --bg: #111111;
    --code-bg: #1f2028;

    --accent-bg: rgba(229, 53, 40, 0.15);
    --accent-border: rgba(229, 53, 40, 0.5);
    --social-bg: rgba(42, 42, 42, 0.5);

    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    color-scheme: dark;
}

html,
body,
#app {
    margin: 0;
    width: 100%;
    min-width: 280px;
    height: 100%;
    font-family: var(--sans);
}

body {
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

h1,
h2 {
    /* font-family: var(--heading); */
    font-weight: 500;
    color: var(--text-h);
}

h1 {
    font-size: 3.111rem;
    margin: 0.571em 0;
    letter-spacing: -1.68px;

    @media (max-width: 1024px) {
        margin: 0.36em 0;
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 1.33rem;
    margin: 0 0 0.33em;
    line-height: 118%;
    letter-spacing: -0.01em;

    @media (max-width: 1024px) {
        font-size: 1.25em;
    }
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
    place-items: center;
    gap: 0.5em;
    border-radius: 6px;
    padding: 6px 12px;
    color: var(--text-h);
    font-size: 1rem;
    transition: box-shadow 0.3s;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: var(--border);
    outline: none;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0;
}

input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0;
    border: none;
}

textarea:focus,
input:focus {
    outline: none;
    border-color: var(--primary) !important;
}

#app {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100svh;
    text-align: center;
}

header,
footer {
    flex: 0;
}

main {
    margin: 0 auto;
    max-width: 1126px;
    flex: 1;
}
